.mainRight {
  height: 100%;
  width: 592px;
  flex-shrink: 0;
  padding: 32px 24px;
  box-shadow: 0px 4px 14px 0px #407bff4d;
  border-radius: 10px;
  background-color: #ecf2ff;
}

.buttonWrap {
  display: flex;
  margin-top: 24px;
  gap: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #407bff;
}
.button {
  cursor: pointer;
  display: flex;
  color: #407bff;
  gap: 8px;
  background-color: transparent;
}
