.customInput {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #d7e3ff;
  border-radius: 8px;
  width: 90%;
  color: #407bff;
  background: none !important;
  background-image: none !important;
  color: #407bff !important;
}
