.customInput {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #007bff;
  border-radius: 8px;
  width: 200px;
  color: #407bff;
  background: none !important;
  background-image: none !important;
  color: blue !important;
}
